.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
}

.topContainer {
    grid-template-columns: 1fr;
}

.titleBarContainer {
    height: 4em;
    grid-template-columns: 1fr;
}

.title {
    justify-self: center;
    align-self: center;
    font-size: 3em;
}

.nextDepartureContainer {
    grid-template-columns: 1fr 1fr 1fr;
    border-top: black 1px solid;
    padding-top: 20px;
}

.nextDepartureTitle {
    grid-column: 1 / -1;
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;
}

.nextDepartureItem {

}

.stopName {
    justify-self: center;
    font-size: 2em;
}

.bigTime {
    justify-self: center;
    font-size: 5em;
}

.futureDeparturesContainer {

}

.futureDeparturesTable {
    margin-top: 30px;
    border: black 1px solid;
}